* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    margin: 30px;
}
header img {
    height: 6vw;
}
/* screen intro and end */
#game-intro {
    padding: 30px 200px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px
}
#start-button {
    position: absolute;
    top: 50%;
    left: 35%;
    padding: 50px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    background-image: url(images/start35px.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #CB1CB9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
#start-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}
.text-wrapper {
    width: 40%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    padding: 22px;
    bottom: 30%;
    position: absolute;
    top: 84%;
    left: 30%;
    z-index: 3;
    height: 20%;
}
.text-wrapper p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.text-wrapper h2 {
    text-align: center;
}
#restart-button {
    position: absolute;
    top: 45%;
    left: 35%;
    padding: 50px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    background-image: url(images/lip\ sync.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #CB1CB9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
#restart-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}
.sashay-away {
    position: absolute;
    left: 32%;
    top: 30%;
}
/* screen game */
#game-container {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#game-screen {
    height: 100%;
    width: 100%;
    display: block;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url('./images/RuPaul\'s\ -\ pasarela.jpeg');
    background-size: cover;
    background-position: center;
}
.walkway-wrapper{
    z-index: 4;
    height: 40vh;
    width: 100vw;
    background-image: url('images/pasarela.png');
    overflow: hidden;
    z-index: 2;
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 82%;
    animation: slide 5s linear infinite; 
}
.results-wrapper {
    background-color: #f2d9f0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 3%;
    left: 80%;
}
.results-wrapper p {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.results-wrapper h2 {
    margin-bottom: 10px;
}
/* screen end and reset */
#game-end {
    padding: 50px 200px;
    overflow: hidden;
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
}



/* animations */
@keyframes slide {
    0% {
      background-position: -1000px 0;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 0;
    }
  }

/* footer */
footer {
    margin-top: auto;
    background: #FFF0FE;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #CB1CB9;
    font-size: 20px;
    padding: 30px;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: #CB1CB9;
    opacity: 0.40;
    text-decoration: none;
    font-size: 25px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #CB1CB9;
  }
  .footer-copyright a {
    color: #CB1CB9;
  }